.body {
    background-color: #111828;
    height: auto;
    margin: 0;
    display: flex;
    padding-top: 100px;
    text-align: center;
    height: 80vb;
    z-index: -1;
}

.aboutMe {
    width: 100%;
}

.aboutMe h4 {
    
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: start;
    color: yellow;
    padding-left: 50px;
}

.aboutMe h1 {
    padding-bottom: 10px;
    padding-left: 50px;
    color: white;
    text-align: start;
}

.aboutMe p {
    padding-bottom: 10px;
    text-align: start;
    padding-left: 50px;
    color: #9CA3AF;
}


.contact-button {
    width: 90px;
    padding-left: 45px;
}

.contact-button button {
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: yellow;
}

button {
    text-align: start;
    justify-content: start;
}

.image {
    width: 100%;
}

img {
    padding-right: 40px;
    float: right;
    width: 600px;
    height: 400px;
}